{% extends "index_layout.html" %}
{% load static %}

{% block title %}
<title>任务列表</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">表单Ajax</div>
        <div class="panel-body">
            <form class="panel-body" novalidate id="addForm">
                <div class="clearfix">
                    {% for field in form %}
                        <div class="col-xs-6">
                            <div class="form-group" style="position: relative; margin-bottom: 25px;">
                                <label for="">{{field.label}}</label>
                                {{ field }}
                                <span style="color: red; position: absolute ;" class="error_msg">{{ field.errors.0 }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>


    
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btnAdd" value="">提交</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true">
                任务列表
            </span>
        </div>
    
        <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>标题</th>
                    <th>级别</th>
                    <th>负责人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in queryset %}
                <tr>
                    <th>{{ obj.id }}</th>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.get_level_display }}</td>
                    <td>{{ obj.user.username }}</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs">编辑</a>
                        <a href="#" class="btn btn-danger btn-xs">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="container" style="margin: 0 auto; display: flex; justify-content: center; align-items: center;">
        <ul class="pagination">
            {{page_string}}
        </ul>
    </div>

</div>

{% endblock %}



{% block js %}

<script type="text/javascript">

    $(document).ready(function() {
        // 页面加载完成后自动执行
        bindBtn1Event();

});

    function bindBtn1Event(){
        $("#btnAdd").click(function(){
            $(".error_msg").empty();
            $.ajax({
                url: "/task/add/",
                type: "post",    // post
                data: $("#addForm").serialize(),
                dataType: "JSON",       // 拿到的数据序列化回json对象
                success:function(res){
                    console.log(res);
                    if (res.status) {
                        alert("添加成功")
                        location.reload()
                    }else{
                        $.each(res.error, function(name, data){
                            $("#id_" + name).next().text(data[0]);
                        })
                    }
                }
            })
        })
    }
</script>
{% endblock %}
